<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->

    <title>SocialCeleb</title>

        <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">


    <!-- Foundation CSS -->
    <link href="https://fonts.googleapis.com/css?family=Sanchez" rel="stylesheet">

    <!-- Foundation CSS style sheet -->
    <link href="./style.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>

<body>

    <!-- Start of body below -->

    <div class="row main-links">
        <div class="small-12 medium-4 columns">
            <!-- <div class="title-box">
            <h4 class="title-box-title">Image 1</h4>
          </div> -->
            <img src="./public/images/SelenaGomez.jpg">
            <div class="row main-links">
                <div class="small-12 medium-12 columns">

                    <!-- Modal Trigger -->
                    <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Selena Gomez Social Celeb Stats</a>

                    <!-- Modal Structure -->
                    <div id="modal1" class="modal bottom-sheet">
                        <div class="modal-content">
                            <h4>Modal Header</h4>
                            <p>A bunch of text</p>
                        </div>
                        <div class="modal-footer">
                            <a href="#modal1" class="modal-close waves-effect waves-green btn-flat">Agree</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="small-12 medium-4 columns">
            <!-- <div class="title-box">
            <h4 class="title-box-title">Image 2</h4>
          </div> -->
            <img src="./public/images/KatyPerry.jpg">
            <div class="row main-links">
                <div class="small-12 medium-12 columns">
                    <!-- Modal Trigger -->
                    <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Katy Perry Celeb Stats</a>

                    <!-- Modal Structure -->
                    <div id="modal1" class="modal bottom-sheet">
                        <div class="modal-content">
                            <h4>Modal Header</h4>
                            <p>A bunch of text</p>
                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="small-12 medium-4 columns">
            <!-- <div class="title-box">
            <h4 class="title-box-title">Image 3</h4>
          </div> -->
            <img src="./public/images/JustinBieber.jpg">
          
            <div class="row main-links">
                <div class="medium-2 columns"></div>
                <div class="small-12 medium-8 columns">
                    <!-- Modal Trigger -->
                    <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Justin Bieber Social Celeb Stats</a>

                    <!-- Modal Structure -->
                    <div id="modal1" class="modal bottom-sheet">
                        <div class="modal-content">
                            <h4>Modal Header</h4>
                            <p>A bunch of text</p>
                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>
        
  document.addEventListener('DOMContentLoaded.', function() {
    var elems = document.querySelectorAll('.modal');
    var instances = M.Modal.init(elems, options);
  });

    </script>




</body>

</html>